@model bad_each_way_finder.Pages.Shared.PropositionsModel

<div id="propositions">
    <div class="p-1 m-1">
        <span id="last-updated-time" class="text-black border border-dark rounded-1 bg-mintcream p-1">Last Updated - @DateTime.Now.ToString("HH:mm:ss")</span>
    </div>

    <div class="row border border-dark rounded bg-light p-3 mb-5 mt-5">
        <div class="col-12">

            @foreach (var meeting in Model.Propositions.GroupBy(e => e.EventName))
            {
                <div class="row mb-3">

                    <div class="col-12">
                        <span class="me-13 font-lg">@meeting.Key</span>
                    </div>

                    <div class="col-12">
                        @foreach (var race in meeting.GroupBy(r => r.EventDateTime))
                        {
                            <div class="me-1 mb-2">
                                <div class="font-md" style="width: 60px;">@race.Key.ToString("HH:mm")</div>

                                @foreach (var runner in race)
                                {
                                    <div class="row">
                                        <div class="col-3">
                                            @runner.RunnerName
                                        </div>
                                        <div class="col-1">
                                            @runner.WinRunnerOddsDecimal.ToString("0.00")
                                        </div>
                                        <div class="col-1">
                                            @runner.ExchangeWinPrice.ToString("0.00")
                                        </div>
                                        <div class="col-1">
                                            @runner.ExchangePlacePrice.ToString("0.00")
                                        </div>
                                        <div class="col-1">
                                            @{
                                                var textEachWayEv = runner.EachWayExpectedValue > 0 ? "text-success" : "text-danger";
                                            }
                                            <span class="@textEachWayEv">@runner.EachWayExpectedValue.ToString("0.000%")</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>

            }
        </div>
    </div>
</div>

